body {
  background-color: #fcf8ec;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: grey;
  width: 10%;
}

h1 {
  color: #456268;
}

h3 {
  color: #456268;
  background-color: #d0e8f2;
  border-bottom: 1px solid #456268;
}
